.user-container{
    display: grid;
    grid-template-columns:30vw 70vw ;
    height: 100vh;
}
.active-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:1em;
    
}
@media(max-width:600px){
    .user-container{
        display: grid;
        grid-template-columns:0vw 100vw ;
        height: 100vh;
    }
}